@import "tailwindcss" prefix(tw);

@plugin "tailwindcss-animate";

@layer base {
  :root {
    --tw-chart-1: 183 100% 29%;
    --tw-chart-2: 173 58% 39%;
    --tw-chart-3: 197 37% 24%;
    --tw-chart-4: 43 74% 66%;
    --tw-chart-5: 27 87% 67%;
  }
}

@theme {
  --tw-color-swell: #008a93;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.display-flex {
  display: flex;
}

.text-color-white {
  color: white;
}

.margin-none {
  margin: 0;
}

.recharts-cartesian-axis-tick-line {
  opacity: 0.5;
}

.y-grid path.domain,
.y-grid .tick line {
  stroke: oklch(86.9% 0.022 252.894);
  stroke-opacity: 0.5;
}

.y-axis path.domain {
  stroke: none;
}
