@import "tailwindcss" prefix(tw);

@plugin "tailwindcss-animate";

@theme {
  --tw-color-swell: #008a93;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.display-flex {
  display: flex;
}

.text-color-white {
  color: white;
}

.margin-none {
  margin: 0;
}

.recharts-cartesian-axis-tick-line {
  opacity: 0.5;
}

.y-grid path.domain,
.y-grid .tick line,
.y-axis .tick line {
  stroke: oklch(86.9% 0.022 252.894);
  stroke-opacity: 0.5;
}

.y-axis path.domain {
  stroke: none;
}
